.buttons{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}
img{
    width: 1400px;
    margin-left: 50px;
    border-color: aqua;
    border: inset;
    border-radius: 15px;
}
h1{
    text-align: center;
}
.but{
    text-align: center;
}
p{
    text-align: center;
}
.button{
    background-color: white;
    border: none;
}
.button:hover{
    background-color: aqua;
    font-size: 20px;
}
.gg{
    color: aqua;
    background-color: blueviolet;
    font-size: 25px;
    border-color: coral;
}